<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.group4sweng.scranplan" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        tools:overrideLibrary="io.sentry.android"/>

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".PublicProfile" >
        </activity>
        <activity android:name=".ProfileSettings" />
        <activity android:name=".Presentation.Presentation" />
        <activity android:name=".Login" />
        <activity android:name=".InitialUserCustomisation" />
        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SideMenu" />
        <meta-data android:name="io.sentry.debug" android:value="true" />
        <meta-data android:name="io.sentry.dsn" android:value="https://e6648ff9c7d346bc98a8fd6aabb5738a@sentry.io/2102064" />
    </application>

</manifest>