<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.group4sweng.scranplan">

    <uses-sdk tools:overrideLibrary="io.sentry.android" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
		<activity android:name=".Social.PostPage"></activity>
        <activity android:name=".PublicProfile"
            android:theme="@style/AppTheme.NoActionBar"/>
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/kudos_icon_clickable" />
        <activity android:name=".ProfileSettings" />

        <activity android:name=".ShoppingList" />
        <activity android:name=".savedList" />

        <activity android:name=".RecyclerViewAdaptor" />
        <activity android:name=".Presentation.Presentation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".Login"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".InitialUserCustomisation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".Home"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SideMenu" />
        <activity android:name=".Social.Messenger.MessengerMenu" />
        <activity android:name=".Social.Messenger.MessengerNewChat" />

        <meta-data
            android:name="io.sentry.debug"
            android:value="true" />
        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://e6648ff9c7d346bc98a8fd6aabb5738a@sentry.io/2102064" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3950288177591971~6547873810"/>
        <meta-data android:name="io.sentry.session-tracking.enable" android:value="true" />
        <meta-data android:name="io.sentry.release" android:value="com.group4sweng.scranplan@1.6.1" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>
